<FilesMatch "^\.|.lock|(readme|license|changelog).(txt|md|html)|composer.json">
    <IfModule mod_authz_core.c>
        Require all denied
    </IfModule>
    <IfModule !mod_authz_core.c>
        Order allow,deny
    </IfModule>
</FilesMatch>

<IfModule mod_alias.c>
    RedirectMatch 404 /.git/
    RedirectMatch 404 ^/vendor/
</IfModule>

DirectoryIndex index.php index.html index.htm

Options -Indexes

# BEGIN WordPress

# END WordPress
